.cart-title {
    color: grey;
    font-size: 30px;
    font-weight: bolder;
}

.cart-subtitle {
    color: grey;
    font-size: 18px;
    font-size: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.container-cart {
    display: flex;
    flex-direction: column;
    padding: 60px;
    
}

.cart-items {
    display: flex;
    flex-direction: row;
}

.items {
    width: 55%;
}

.checkout {
    width: 45%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    background-color: rgb(223, 222, 222);
    border-radius: 10px;
    margin-left: 30px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-color: grey;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px;
    height: 100px;
}

.cart-item-img-container{
    display: flex;
    width: 15%;
}
.cart-item-img {
    width: 100%;
}

.cart-item-info-container { 
    width: 85%;
    display: flex;
    flex-direction: row;
}

.cart-item-info-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cart-item-info-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.cart-item-info-quantity {
    padding: 10px;
    font-size: medium;
    font-weight: bolder;
    color: grey;
    border: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 8px;

}

.button-quantity {
    color: grey;
}

.cart-item-info-price {
    padding: 20px;
    font-size: medium;
    font-weight: bolder;
    color: grey;
}

.cart-item-info-delete-button{
    padding: 20px;
    font-size: medium;
    font-weight: bolder;
    color: grey;
    &:hover {
        cursor: pointer;
        color: rgb(194, 5, 5);
    }
}

.summary {
    font-size: 25px;
    color: grey;
    margin-bottom: 30px;
}

.items-spinner {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart {
    font-size: 20px;
    color: rgb(145, 145, 145);
    font-weight: bold;
}

.checkout-text {
    padding-top: 20px;
    color: grey;
}

.checkout-text-labels {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.labelin-button { 
    font-size: larger;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: #3D484F;
    border-radius: 30px;
    padding: 15px;
    width: 230px;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
}

.button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.checkout-button-label {
    padding-left: 10px;
}

.chcekout-button-container{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-line {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.space-contact {
    margin-left: 20px;
}

.price {
    margin-top: -45px;
}

.price-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-label {
    display: flex;
    padding-top: 18px;
    align-items: center;
    width: 20%;
}

.price-value {
    display: flex;
    width: 80%;
    font-size: 18px;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(187, 187, 187);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    border-color: #3D484F;
  }