<div class="container-cart">
    <h1 class="cart-title">Shopping Cart</h1>
    <span class="cart-subtitle">You have {{cart.total_items}} items in your cart</span>
    <div class="cart-items">
        <div class="items">
            <div *ngIf="spinner" class="items-spinner">
                <mat-spinner></mat-spinner>
            </div>
            <div class="empty-cart-container" *ngIf="cart.total_items == 0">
                <img src="../../../../../assets/img/empty-cart.png">
                <span class="empty-cart">Empty Cart &nbsp;&nbsp; =(</span>
            </div>
            <div *ngFor="let item of items" class="cart-item">
                <div class="cart-item-img-container">
                    <img class="cart-item-img" src={{item.product.imageUrl}}>
                </div>
                <div class="cart-item-info-container">
                    <div class="cart-item-info-details">
                        <span>{{item.product.name}}</span>
                    </div>   
                    <div class="cart-item-info-actions">
                        <div class="cart-item-info-quantity">
                            <span>{{item.quantity}}</span>
                        </div>
                        <div class="cart-item-info-price">
                            <span>{{item.itemPrice}}</span>
                        </div>
                        <div (click)="dropItem(item)" class="cart-item-info-delete-button">
                            <span class="material-icons">
                                delete
                            </span>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
        <div class="checkout">
            <span class="summary">Summary</span>
            <mat-divider></mat-divider>
            <div class="checkout-text">
                <p class="checkout-text-labels">Estimate Shipping and Tax</p>
                <p>Enter your destination to get a shipping estimate.</p>
            </div>

            <div class="checkout-text">
                <h2>Shipping</h2>
            </div>
            <div class="checkout-text">
                <h2>Subtotal</h2>
            </div>
            <div class="checkout-text">
                <h2>Tax</h2>
            </div>
            <div class="checkout-text">
                <h2>Total</h2>
            </div>
            <div class="chcekout-button-container">
                <button class="labelin-button">
                    <div class="button-content">
                        <span class="material-icons">lock</span>
                        <span class="checkout-button-label">Checkout</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>