<div class="card-product">
    <div class="container-img-product">
        <img class="img-product" src={{productDetail.imageUrl}}>
    </div>
    <div class="price-product">
        <span><b>{{productDetail.price}}</b></span>
    </div>
    <div class="description-product">
        <span><b>{{productDetail.name}}</b></span>
    </div>
    <div class="container-add-button-product">
        <button class="add-button-product" (click)="addProduct(productDetail)">Add to Cart</button>
    </div>
</div>
