<div class="container-footer">
<div class="container-logo-footer">
    <div class="logo-footer">
        <img src="../../../assets/img/logo-white.png" alt="">
    </div>
    <div class="footer-text">
        <p>Easy online ordering for beautiful product labels and packaging.</p>
    </div>
    <div class="footer-text">
        <p>© 2021 Labelin</p>
    </div>
</div>
<div class="footer-details"> 
    <div class="footer-details-column">
        <h1 class="footer-details-column-title">Contact</h1>
        <span>17915 Sky Park Circle, suite F <br> Irvine, CA, 92614</span>
        <span>Email: contact@labelin.us</span>
        <span>Phone: +1 949-333-5204</span>
    </div>
    <div class="footer-details-column">
        <h1 class="footer-details-column-title">Navigation</h1>
        <span class="footer-details-link" [routerLink]="['/home']">Home</span>
        <span class="footer-details-link">Custom Labels</span>
        <span class="footer-details-link">Packaging Tape</span>
        <span class="footer-details-link" [routerLink]="['/premade']">Premade</span>
    </div>
    <div class="footer-details-column">
        <h1 class="footer-details-column-title">Account</h1>
        <span class="footer-details-link">Login</span>
    </div>
</div>
</div>