
  <mat-toolbar>
    <div class="container-logo">
      <img src="../assets/img/labelin-logo.png" alt="">
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar-links">
      <div class="toolbar-link" [routerLink]="['/home']">Home</div>
      <div class="toolbar-link">Custom Labels</div>
      <div class="toolbar-link">Packaging Tape</div>
      <div class="toolbar-link" [routerLink]="['/premade-products']" routerLinkActive="premade-products">Premade</div>
    </div>
    <app-cart-icon></app-cart-icon>
  </mat-toolbar>
  <div class="toolbar-divider"></div>